@import "/home/divalin/.config/swaync/theme.css";


.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin-bottom: 4px;
  margin-right: 13px;
  margin-top: 8px;
  border-radius: 80px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	opacity: 1;
	background: transparent;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  border: 0px solid @border-green;
  background: @cc-bg;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
	opacity: 0.5;
	margin: -5px;
}

.notification {
  transition: all 200ms ease;
  border-radius: 8px;
  margin: 12px 7px 0px 7px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  padding: 0;
}


.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 8px;
}

.close-button {
  background: @cc-bg;
  color: @noti-border-color;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 17px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @cc-bg;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @cc-bg;
  border: 2px solid @border-green;
  color: @noti-border-color;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @cc-bg;
}

.notification-default-action {
  border-radius: 8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 8px;
}

.notification-action:last-child {
  border-bottom-right-radius: 8px;
  border-right: 1px solid @border-green;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: @noti-border-color;
  border-radius: 8px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @noti-border-color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @noti-border-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @noti-border-color;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @noti-border-color;
  text-shadow: none;
}

.control-center-clear-all {
  color: @noti-border-color;
  text-shadow: none;
  background: @cc-bg;
  border: 2px solid @border-green;
  box-shadow: none;
  border-radius: 8px;
}

.control-center-clear-all:hover {
  background: @cc-bg;
}

.control-center-dnd {
  border-radius: 8px;
  background: @cc-bg;
  border: 1px solid @border-green;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @border-green;
}

.control-center-dnd slider {
  background: @cc-bg;
  border-radius: 8px;
}

.control-center {
  background: @cc-bg;
  border-radius: 10px;
  background-clip: border-box;
  padding: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
			  0 2px 6px 2px rgba(0, 0, 0, 0.3);
  color: @noti-border-color;
  border: 2px solid @border-green;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @noti-close-bg-hover;
  text-shadow: none;
  background: @cc-bg;
  border: 2px solid @border-green;
  box-shadow: none;
  border-radius: 8px;
}
.widget-title > button:hover {
  background: @cc-bg;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @cc-bg;
  border: 1px solid @border-green;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @border-green;
}
.widget-dnd > switch slider {
  background: @cc-bg;
  border-radius: 8px;
  border: 1px solid @noti-border-color;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @cc-bg;
  border-radius: 8px;
  border: 2px solid @border-green;
  color: @noti-border-color;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}
