window {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 10pt;
    font-weight: bold;
    color: #f4dfcd; 
    background-image: url("/home/divalin/.config/backgrounds/fancy-cafe-blurred.jpg");
    background-position: center;
    background-size: cover; /* cover is better than 100% for scaling across screens */
    background-repeat: no-repeat;

}

button {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    background-size: 40%;
    border: none;
    color: #F5F5F5;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(121, 81, 1, 0);
    margin-top: 120px;
    margin-bottom: 120px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

button:hover {
    background-color: #719BD6;
    background-size: 60%;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
    color: transparent; /* makes text invisible */
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#logout:hover {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
    
} 

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

