@define-color cc-bg #1e1e2e;
@define-color noti-border-color #cdd6f4;
@define-color noti-bg #1e1e2e;
@define-color noti-bg-darker #1E1E2E;
@define-color noti-bg-hover #1e1e2e;
@define-color noti-bg-focus #1e1e2e;
@define-color noti-close-bg #cdd6f4;
@define-color noti-close-bg-hover #cdd6f4;
@define-color text-color #cdd6f4;
@define-color text-color-disabled #565f89;
@define-color bg-selected #cba6f7;
@define-color border-green #cba6f7;
@define-color red-base #f38ba8;
@define-color red-hover #f38ba8;
@define-color green-base #c0caf5;
@define-color blue-base  #7aa2f7;


